body {
  background-color: #2a2d2f;
  font-family: "Oswald", sans-serif;
  position: relative;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e9e9e9;
}

/* Nav Bar */

header {
  right: 0px;
  top: 0px;
  position: relative;
}

button {
  background-color: black;
  border: none;
  color: whitesmoke;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  overflow-wrap: normal;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

main {
  padding: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

nav {
  position: fixed;
  background-color: rgba(42, 41, 42, 0.9);
  width: 0%;
  height: 100svh;
  height: 100vh;
  padding-top: 150px;
  transition: ease-in 0.3s;
  text-transform: uppercase;
  z-index: 2;
  overflow: hidden;
  right: 0px;
}

nav div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px;
  margin-top: 20px;
}

#burgerClose {
  position: absolute;
  top: 26px;
  right: 26px;
  font-size: 20px;
  width: 46px;
  height: 46px;
  background-color: #000000;
  border-radius: 6px;
}

#burgerButton {
  position: fixed;
  justify-self: end;
  top: 26px;
  right: 26px;
  font-size: 20px;
  width: 46px;
  height: 46px;
  z-index: 2;
}

nav button {
  background-color: transparent;
  text-align: center;
  font-size: 4rem;
}

nav button:hover {
  background-color: rgba(44, 41, 42, 0.95);
  width: 100%;
  text-align: center;
  transition: ease-in 0.2s;
  transform: translate(0, -5%);
  cursor: pointer;
  border-radius: 0px;
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 36px;
  gap: 64px;
}

/* Welcome page */
#introPage {
  justify-content: space-between;
  height: 100svh;
  font-family: "Lilita One", cursive;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 36px;
  align-items: center;
  color: #cac6c6;
  margin-top: 46px;
}

.name {
  font-size: 6rem;
  text-align: center;
  animation: nameAnim ease-in-out 0.6s normal;
}

.subHeading {
  font-size: 2rem;
  animation: subHeadAnim ease-in-out 0.5s normal;
}

@keyframes nameAnim {
  0% {
    transform: translateY(-100%);
  }
}
@keyframes subHeadAnim {
  0% {
    transform: translateY(-700%);
  }
}

#contactMe-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 64px;
  animation: subHeadAnim ease-in-out 0.4s normal;
}

#contactMe-btn img {
  width: 100px;
  height: 10px;
}

#scrollDown {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  z-index: 1;
  font-size: 1rem;
  gap: 20px;
}

#scrollDown img {
  width: 100px;
}

#scroll-btn-box {
  animation: buttonPop ease-in-out 0.6s normal;
}
#scroll-btn-box,
#scrollDown {
  box-shadow: none;
  transition: ease 0.3s;
}
#scroll-btn-box:hover {
  transform: translate(0%, -10%);
}

#scrollDown:active {
  transform: translate(0%, 10%);
}

@keyframes buttonPop {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.sectionTitle {
  color: #cac6c6;
  font-family: "Lilita One", cursive;
  align-self: flex-start;
}

/* About Me */
#mySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d8d2d2;
  width: 100%;
  position: relative;
}

.skillList {
  position: relative;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: 80%;
  margin: 16px 0px;
  justify-content: center;
}

.skillIcon {
  width: 60px;
  height: 60px;
}

.skillList div {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-about {
  display: flex;
  flex-direction: column;
  gap: 70px;
  font-size: x-large;
  text-align: center;
}
.container-about div {
  display: flex;
  justify-content: space-between;
}

.container-about h1 {
  font-family: "Lilita One", cursive;
}

/* Projects */

.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #d8d2d2;
  flex-wrap: wrap;
  gap: 100px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.projectImage {
  width: 350px;
}

.project-desc {
  display: flex;
}

.project-desc-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-desc-right {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
  gap: 6px;
  margin-left: 12px;
}

.project-desc-right button {
  width: 50px;
  height: 50px;
}
.github-button {
  background-color: transparent;
  cursor: pointer;
  border: transparent;
  padding: 0px;
}

.github-button:hover {
  box-shadow: none;
}

/* Contact me */

#contact-Section {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.contact-links button {
  background-color: transparent;
  font-size: x-large;
  display: flex;
  align-items: center;
  gap: 32px;
  box-shadow: none;
}
.contact-links button img {
  padding: 0px;
  width: 50px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-self: center;
}

.contactForm button {
  width: 300px;
  margin-bottom: 16px;
  align-self: center;
}

input,
#description {
  background-color: black;
  border: 0;
  color: #cac6c6;
  padding: 16px;
  width: 300px;
  display: flex;
}

#submitButton {
  width: 150px;
}

#description {
  height: 50px;
  resize: none;
}

#popup {
  visibility: hidden;
  background-color: #b1b0b0;
  color: #000000;
  text-align: center;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  bottom: 65%;
  left: 40%;
}

#emailLink:hover #popup {
  visibility: hidden;
}

#popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.emailAnim {
  animation: fadeIn 2s ease-in-out normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

footer {
  width: 100%;
  background-color: grey;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .projectImage {
    grid-area: image;
    width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  main {
    padding: 0px 32px;
  }

  .project-card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "image desc";
    width: 900px;
  }

  .project-card:nth-child(2) {
    direction: rtl;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-desc-right {
    width: 200px;
  }

  .project-desc-right button {
    width: 70px;
  }

  .project-desc-right .github-button img {
    width: 50px;
    height: 50px;
  }

  .project-card:nth-child(2) .project-desc-right {
    direction: ltr;
  }

  .project-card:nth-child(2) .project-desc-left {
    direction: ltr;
  }

  .projectImage {
    grid-area: image;
    width: 500px;
  }

  .project-desc {
    flex-direction: column;
    grid-area: desc;
    gap: 20px;
  }
}
